.advantages__motto-list{
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: column;

  font-size: 24px;
  line-height: 28px;

  color: #000000;
  text-align: center;
}

.advantages__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;

  background-color:#f2f2f2;

  &::before {
    content: "";

    display: block;

    width: 320px;
    min-height: 114px;

    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: bottom 56px left 0;
    background-color: #f2f2f2;
  }
}

.advantages__item{
  display: flex;
  flex-direction: column;
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.advantages__description {
  margin: 0 26px;
  margin-bottom: 31px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  color: #283645;
}

.advantages__app-demo-list{
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}
.advantages__app-demo-list li {
  display: none;
}
.advantages__app-demo-list li:first-child {
  display: block;
  margin-bottom: -45px;
}
