.advantages__motto-list {
  .list-style-reset();
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: @main-dark-color;
  text-align: center;
}

.advantages__motto-description {
  margin: 0;
  padding: 0;
}

.advantages__motto-item:first-child {
  margin-top: 40px;
}

.advantages__motto-item:last-child {
  margin-top: 30px;
}

.advantages__list-container {
  width: 100%;
  background-color: @main-gray-color;

  &::before {
    content: "";
    display: block;
    min-height: 114px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-color: @main-gray-color;
    background-size: contain;
    margin-top: 40px;
    margin-bottom: -40px;
  }
}

.advantages__list-wrapper {
  width: 280px;
  margin: 0 auto;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .list-style-reset();

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      display: block;
      width: 157px;
      height: 280px;
      background-color: transparent;
      background-image: url("../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      margin-top: 10px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-mobile@2x.png");
        background-repeat: no-repeat;
        background-size: 157px auto;
      }
    }
  }
}

.advantages__item {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.advantages__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.advantages__description {
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: @main-dark-color;
}

@media (min-width: @tablet-width) {
  .advantages__motto-list {
    font-size: 40px;
    line-height: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
  }

  .advantages__motto-item:first-child {
    margin-top: 49px;
  }

  .advantages__motto-item:last-child {
    margin-top: 1px;
    width: 340px;
  }

  .advantages__list-container {
    &::before {
      margin-top: -6px;
    }
  }

  .advantages__list-wrapper {
    width: 620px;
    display: flex;
    justify-content: space-between;

    @media (max-width: @tablet-width-only) {
      &::before {
        content: "";
        display: block;
        width: 268px;
        height: 481px;
        background-color: transparent;
        background-image: url("../img/iphone-screen-3-tablet@1x.png");
        background-repeat: no-repeat;
        margin-top: -70px;

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/iphone-screen-3-tablet@2x.png");
          background-repeat: no-repeat;
          background-size: 268px auto;
        }
      }
    }
  }

  .advantages__list {
    align-items: flex-end;
  }

  .advantages__item {
    width: 315px;
    align-items: flex-start;
  }

  .advantages__title {
    margin-bottom: 12px;
    margin-left: 4px;
  }

  .advantages__description {
    width: 315px;
    text-align: left;
    margin: 0;
    margin-bottom: 35px;
    margin-left: 4px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__motto-list {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 80px;
  }

  .advantages__motto-item:first-child {
    margin-top: 67px;
  }

  .advantages__motto-item:last-child {
    width: 420px;
  }

  .advantages__list-wrapper {
    width: 940px;
    display: block;
  }

  .advantages__list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }

  .advantages__item {
    width: 286px;
    margin: 0 6px;
    align-items: center;
  }

  .advantages__item::before {
    content: "";
    display: block;
    width: 292px;
    height: 302px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 55px;
    margin-top: -74px;
  }

  .advantages__item:last-child::before {
    background-color: transparent;
    background-image: url("../img/iphone-screen-3-desktop@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .advantages__item:nth-child(2)::before {
    background-color: transparent;
    background-image: url("../img/iphone-screen-2-desktop@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .advantages__item:first-child::before {
    background-color: transparent;
    background-image: url("../img/iphone-screen-1-desktop@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .advantages__title {
    width: 240px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
  }

  .advantages__description {
    width: 240px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    margin-top: 25px;
  }
}
