.main-nav{
  position: relative;
}

.main-nav__toggle{
  position: absolute;
  top: -69px;
  right: 0px;
  height: 69px;
  width: 64px;

  border: 0;
  font-size:0;
  background-color: transparent;

  margin: 0px;
  padding: 0px;

  cursor: pointer;

  &:hover,
  &:focus {
    .main-nav__toggle-img {
      fill: #d22856;
    }
  }

  &:active {
    opacity: 0.3;
    .main-nav__toggle-img {
      fill: #ffffff;
    }
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
