.main-nav{
  position: relative;
}

.main-nav__toggle{
  position: absolute;
  top: -45px;
  right: 20px;
  height: 24px;
  width: 24px;
  background-image: url(../img/icon-menu-cross.svg);
  border: 0;
  background-color: transparent;
  font-size:0;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
