.page-header {
  background-color: #283645;
}

.page-header__logo{
  display: block;
  padding: 23px 20px;
  height: 23px;
  width: 75px;
  cursor: pointer;

  &:hover,
  &:focus {
    .page-header__logo-image {
      fill: #d22856;
    }
  }

  &:active {
    opacity: 0.3;
    .page-header__logo-image {
      fill: #ffffff;
    }
  }
}
