.page-header__container {
  background-color: @main-dark-color;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  padding: 23px 20px;
  height: 23px;
  width: 75px;
  cursor: pointer;

  & svg {
    height: 23px;
    width: 75px;
  }

  &:hover {
    .page-header__logo-image {
      fill: @main-pink-color;
    }
  }

  &:active svg {
    opacity: 0.3;
  }

  &:active .page-header__logo-image {
    fill: #ffffff;
  }
}

@media (max-width: @tablet-width-only) {
  .page-header--nav-closed .page-header__container {
    position: relative;
  }

  .page-header--nav-closed .page-header__wrapper {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 12;
  }

  .page-header--nav-closed .site-list,
  .page-header--nav-closed .main-nav__close-img {
    display: none;
  }

  .page-header--nav-closed .main-nav__open-img {
    display: inline;
  }

  .page-header--nav-closed .main-nav__toggle {
    right: 13px;
  }

  .page-header--nav-opened .page-header__container {
    position: relative;
    z-index: 1;
  }

  .page-header--nav-opened .page-header__wrapper {
    position: static;
    width: auto;
    background-color: inherit;
    z-index: 2;
  }

  .page-header--nav-opened .site-list {
    display: block;
  }

  .page-header--nav-opened .main-nav__close-img {
    display: inline;
  }

  .page-header--nav-opened .main-nav__open-img {
    display: none;
  }

  .page-header--nav-nojs .main-nav__toggle,
  .page-header--nav-nojs .main-nav__open-img,
  .page-header--nav-nojs .main-nav__close-img {
    display: none;
  }
}


@media (min-width: @tablet-width) {
  .page-header__logo {
    padding-top: 27px;
    padding-right: 20px;
    padding-bottom: 43px;
    padding-left: 20px;
    height: 40px;
    width: 150px;

    & svg {
      height: 40px;
      width: 150px;
    }
  }

  .page-header__container {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
  }

  .page-header__container {
    position: relative;
    width: 100%;
    max-width: 2560px;
  }

  .page-header__wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 11;
  }

  .page-header__center {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo {
    padding: 0;
    margin-top: 25px;
    margin-right: 0;
    margin-bottom: 45px;
    margin-left: 0;
    height: 40px;
    width: 146px;

    & svg {
      height: 40px;
      width: 146px;
    }
  }
}
