.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 284px;
}

.page-footer__logo{
 margin-top: 40px;
 width: 146px;
 height: 40px;
}

.page-footer__social{
  margin-top: 40px;
}

.page-footer__copyright{
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
}
