.photo-feed__motto{
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;

  text-align: center;

  padding:20px 30px;
}
.photo-feed__list{
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.photo-feed__item{
  display: flex;
  flex-direction: column;
}

.photo-feed__link{
  display: flex;

  margin: 0 auto;
  margin-top: 21px;
  padding: 0;

  &--panorama {
    padding: 0;
    margin: 0 auto;
  }
}

.photo-feed__text-wrapper{
  display: flex;
  flex-direction: column;

  margin: 0 20px;
  padding: 10px;

  background-color: #f2f2f2;
}
.photo-feed__username{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #283645;
}

.photo-feed__duration{
font-size: 12px;
line-height: 24px;
font-weight: 300;
color: #283645;
}

.photo-feed__comment {
  margin: 8px 0px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.photo-feed__like-btn{
  height: 12px;
  width: 13px;
  background-image: url(../img/icon-heart.svg);
  background-color: #f2f2f2;
  background-position: top 0 left 0;
  background-repeat: no-repeat;
  border: 0;
  margin-right: 15px;
}

.photo-feed__like-value{
font-size: 12px;
line-height: 24px;
font-weight: 400;
color: #d22856;
}
