.photo-editor {
  width: 240px;
}

.photo-editor__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  margin: 0 auto;
}

.photo-editor__button {
  width: 48px;
  height: 48px;
  padding: 0;
  background-color: transparent;
  border: none;

  & svg {
    opacity: 0.3;
    fill: @main-dark-color;
  }

  &:hover svg,
  &:focus svg {
    opacity: 0.5;
  }

  &:active svg {
    opacity: 1;
    fill: @main-pink-color;
  }
}

.photo-editor__button--active svg,
.photo-editor__button--active:hover svg,
.photo-editor__button--active:focus svg,
.photo-editor__button--active:active svg {
  opacity: 1;
  fill: @main-pink-color;
}

.photo-editor__scales-wrapper {
  margin-top: 37px;
}

.photo-editor__scale {
  display: none;
}

.photo-editor__scale--active {
  display: block;
  position: relative;
  height: 2px;
  margin: 0 auto;
  background-color: @main-dark-color;

  & span {
    box-sizing: border-box;
    position: absolute;
    top: -6px;
    left: 189px;
    width: 15px;
    height: 15px;
    border: solid 2px @main-pink-color;
    border-radius: 50%;
    background-color: @main-gray-color;
    cursor: pointer;
  }

  & span:active {
    background-color: @main-pink-color;
  }
}

@media (min-width: @tablet-width) {
  .photo-editor {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .photo-editor__buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    margin: 0;
  }

  .photo-editor__scales-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 202px;
    margin-top: 2px;
    margin-right: 18px;
  }

  .photo-editor__button {
    width: 22px;
    height: 22px;
    opacity: 1;
    margin-bottom: 69px;
    margin-left: 18px;

    &:active {
      opacity: 1;
    }

    & svg {
      width: 22px;
      height: 22px;
      fill: @main-pink-color;
      opacity: 1;
    }

    &::after {
      content: "";
      position: absolute;
      padding: 0;
      height: 1px;
      background-color: #dddfe0;
      width: 273px;
      top: 46px;
      left: 6px;
    }

    &:nth-child(2) {
      margin-top: -16px;
      margin-bottom: 63px;
    }

    &:nth-child(2)::after {
      top: 119px;
    }

    &:last-child {
      margin-top: -17px;
      margin-left: 21px;
    }

    &:last-child::after {
      top: 189px;
    }

    &:last-child svg {
      width: 16px;
      height: 16px;
    }

    &:active svg,
    &:hover svg,
    &:focus svg {
      fill: @main-pink-color;
      opacity: 1;
    }
  }

  .photo-editor__scale--active,
  .photo-editor__scale {
    display: block;
    position: relative;
    height: 2px;
    margin: 0;
    margin-bottom: 71px;
    background-color: @main-dark-color;
  }

  .photo-editor__scale:last-child {
    margin-top: -3px;
  }

  .photo-editor__scale--active span,
  .photo-editor__scale span {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: -6px;
    left: 24px;
    width: 15px;
    height: 15px;
    border: solid 2px @main-pink-color;
    border-radius: 50%;
    background-color: @main-gray-color;
    cursor: pointer;
  }

  .photo-editor__scale--active span:active,
  .photo-editor__scale span:active {
    background-color: @main-pink-color;
  }

  .photo-editor__scale:first-child span {
    left: 145px;
  }

  .photo-editor__scale:last-child span {
    left: 95px;
  }
}

@media (min-width: @desktop-width) {
  .photo-editor {
    width: 410px;
  }

  .photo-editor__buttons-wrapper {
    width: 55px;
    margin-top: -11px;
  }

  .photo-editor__button {
    width: 48px;
    height: 48px;
    margin-left: 9px;
    margin-bottom: 44px;

    & svg {
      width: 48px;
      height: 48px;
    }

    &:nth-child(2) {
      margin-left: 13px;
      width: 54px;
      height: 47px;
    }

    &:nth-child(2) svg {
      width: 54px;
      height: 47px;
    }

    &:last-child {
      width: 32px;
      height: 33px;
      margin-top: -35px;
      margin-left: 9px;
    }

    &:last-child svg {
      width: 32px;
      height: 33px;
    }

    &::after {
      width: 410px;
      top: 59px;
      left: 10px;
    }

    &:nth-child(2)::after {
      top: 132px;
    }

    &:last-child::after {
      top: 202px;
    }
  }

  .photo-editor__scales-wrapper {
    width: 288px;
    margin-top: 23px;
    margin-right: 20px;
  }

  .photo-editor__scale--active span,
  .photo-editor__scale span {
    left: 246px;
  }

  .photo-editor__scale:first-child span {
    left: 70px;
  }

  .photo-editor__scale:last-child span {
    left: 159px;
  }
}
