.site-list {
  font-weight: bold;
}

.site-list a {
  display: block;

  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  padding: 20px 0px;
  text-align: center;
}
