.site-list {
  font-weight: bold;
  border-top: 1px solid black;
}

.site-list a {
  display: block;

  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  padding: 20px 0px;
  text-align: center;

  &:hover,
  &:focus {
    color: #ad2e54;
  }

  &:active {
    color: #6d3650;
  }
}

.site-list__item{
border-bottom: 1px solid black;
border-top: 1px solid #485461;
}
