.social__list{
  display: flex;
  justify-content: space-between;

  min-width: 178px;

  margin: 0;
  padding: 0;
  margin-top: 40px;

  list-style: none;
}

.social__link {
  border: 3px solid #f1f2f3;
  border-radius: 50px;

  display:block;
  width: 46px;
  height: 46px;

  font-size: 0;

  &:hover,
  &:focus {
    border: 3px solid #f1f2f3;
  }

  &:active {
    border: 3px solid #f1f2f3;
    opacity: 0.3;
  }
}

.social__link--twitter{
  background: url(../img/icon-twitter.svg) no-repeat center;
 }

.social__link--facebook{
  background: url(../img/icon-facebook.svg) no-repeat center;
}

.social__link--youtube{
  background: url(../img/icon-youtube.svg) no-repeat center;
}
